<nav class="navbar navbar-expand-lg navbar-light"
    style="background: transparent; position: fixed;width: 100%;z-index: 2;">
    <a class="navbar-brand " href="/"><b>Home</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" style="color: black; font-weight: 800;" href="/services">Services</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/requests" style="color: black; font-weight: 800;">Requests{{#if req}}{{/if}}<span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black; font-weight: 800;" href="/confirm">Confirmation</a>
            </li>
        </ul>
        <div class="dropdown ">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                style="background: transparent;color: black; border-radius: 50%;">
                {{#if fuser}}
                <b>{{fuser.name}}</b>
                {{else}}
                <b>Account</b>
                {{/if}}
            </button>
            {{#if fuser}}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: black;">

                <a class="dropdown-item text-light" href="/logout">Logout</a>
                {{else}}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: black;">
                    <a class="dropdown-item text-light" href="/login">Login</a>
                    <a class="dropdown-item text-light" href="/signup">Signup</a>

                </div>


            </div>
            {{/if}}

        </div>
    </div>
</nav>