<div id="first" class="container-fluid">
    <div class="row" style="width: 100%;">
        <div class="col-md-12 mt-5 pt-2" style="width: 100%;">
            <div class=" mt-5 pt-5 pl-5" style="width: 100%;">

                <h1 style="font-size: 50px;text-shadow: 3px 3px #131313; "><b><span
                            style="color: rgb(243, 242, 239);">WE
                            BUILD</span> YOUR DREAM</b>
                </h1>

            </div>
            <div class="text-right p-5" style="width: 50%; text-align: center;">
                <p class="text-right text-light" style="font-size: 25px;">
                    Welcome to ConstructiveEdge - Your Trusted Construction Partner

                    we are more than builders; we are creators of dreams and architects of possibilities. With a
                    rich
                    legacy of
                    craftsmanship, we have been shaping the skylines and landscapes of Your Location with 
                    <span style="color: #131313;">our unwavering</span>
                    commitment to
                    quality, innovation, and <span style="color: #131313;">client satisfaction.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    #first {
        background-image: url(/images/ff.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        display: flex;

    }
</style>