<div id="first" class="container-fluid">
    <div class="row mb-30">

        <div class="col-md-12 mt-5 pt-2" style="width: 100%;">
            <div class=" mt-5 pt-5 pl-5" style="width: 100%;">

                <h1 style="font-size: 50px;text-shadow: 3px 3px #131313; "><b><span
                            style="color: rgb(243, 242, 239);">WE
                            BUILD</span> YOUR DREAM</b>
                </h1>

            </div>
            <div class="text-right p-5" style="width: 50%; text-align: center;">
                <p class="text-right text-light" style="font-size: 25px;">
                    Welcome to ConstructiveEdge - Your Trusted Construction Partner

                    we are more than builders; we are creators of dreams and architects of possibilities. With a
                    rich
                    legacy of
                    craftsmanship, we have been shaping the skylines and landscapes of Your Location with our unwavering
                    <span style="color: #131313;">commitment </span>
                    to
                    quality, innovation, and <span style="color: #131313;">client satisfaction.</span>
                </p>
                <a href="/services" class="btn btn-dark">Explore Our Srvices</a>
            </div>
        </div>
        <div class="row mt-5 pt-5 text-center" style="width: 100%;">
            <div class="col-md-12 mt-5">
                <h1 style="font-weight: 900;font-family: serif;"><b><span class="p-3"
                            style="border-radius: 12px; color: #ffff;background-color: black;">OUR SERVICES</span></b>
                </h1>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/meson.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: black;font-size: 60px;"><b>MASONS</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Our skilled mason is a master craftsman dedicated to creating
                        lasting and beautiful
                        structures through the art
                        of masonry. With years of experience, precision, and an eye for detail, our mason expertly
                        constructs everything from
                        stunning brick and stone walls to elegant chimneys and outdoor hardscapes. Trust in their
                        expertise
                        to bring your
                        masonry projects to life with quality craftsmanship and timeless design."</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/painter.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: black;font-size: 60px;">
                                <b>PAINTER</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Our house painters are skilled professionals who specialize in
                        transforming your home's interior and exterior with a
                        fresh coat of paint. With meticulous attention to detail and a commitment to quality, they bring
                        vibrancy and renewed
                        beauty to your living spaces. Our team takes pride in their craftsmanship, using top-notch
                        materials and techniques to
                        ensure a lasting, stunning finish that enhances the aesthetics and value of your home. Trust our
                        house painters to
                        revitalize your space with precision and care."</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/plumber.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: rgb(254, 254, 254);font-size: 60px;">
                                <b>PLUMBER</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Meet our skilled plumber: a dedicated professional with years
                        of experience in solving plumbing issues efficiently and
                        effectively. With a commitment to exceptional service, our plumber is your go-to expert for all
                        your plumbing needs,
                        from routine maintenance to complex repairs. Rest easy knowing you have a reliable and
                        trustworthy partner to keep your
                        plumbing system in tip-top shape."</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/carpenter.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: rgb(254, 254, 254);font-size: 48px;">
                                <b>CARPENTER</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Skilled carpenters are highly trained craftsmen who possess
                        the expertise to work with wood and other building
                        materials. we provide carpenters who excel in crafting and installing structures, furnishings,
                        and fixtures, showcasing
                        precision, attention to detail, and a deep understanding of various carpentry techniques. our
                        professionals play a
                        pivotal role in construction and renovation projects, bringing creativity and technical prowess
                        to transform raw
                        materials into functional and aesthetically pleasing creations"</p>
                </div>
            </div>
        </div>
        {{!-- ################################################################################################# --}}
        <div class="row pt-5 text-center" style="width: 100%;">


            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/electrition.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: black;font-size: 60px;">
                                <b>Electrician</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Meet our skilled electrician! With years of experience
                        and a commitment to safety, our electrician is your
                        go-to expert for all your electrical needs. From installations and repairs to troubleshooting
                        and
                        upgrades, our
                        electrician delivers reliable and efficient service, ensuring your home or business is always
                        powered up and running
                        smoothly."</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/interiar.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: black;font-size: 60px;">
                                <b>Interior Designer</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Meet our talented interior designer who turns
                        dreams into reality. With an eye for detail and a
                        passion for creating functional and stylish spaces, they transform ordinary rooms into
                        extraordinary
                        havens. Their
                        innovative designs blend aesthetics with functionality, bringing your vision to life while
                        ensuring
                        every corner
                        reflects your unique personality and lifestyle. Trust in their expertise to elevate your living
                        spaces to new heights of
                        beauty and comfort."</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/civil.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="font-weight: 800; color: rgb(0, 0, 0);font-size: 60px;">
                                <b>Civil Engineers</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Civil engineers are the architects of the
                        infrastructure that shapes our modern world. our engineers
                        design, construct, and maintain essential facilities such as roads, bridges, buildings, and
                        water
                        systems, ensuring they
                        are safe, efficient, and sustainable. our professionals blend their expertise in engineering
                        principles with a
                        commitment to improving the quality of life for communities, making them the backbone of our
                        built
                        environment. "</p>
                </div>
            </div>
            <div class="col-md-3 p-5">
                <div style="background-color: black; width: 26rem; border-radius: 20px; height: 45rem;" class="p-3">
                    <div class="card bg-dark text-white m-auto" style="width: 22rem; height: 26rem;">
                        <img class="card-img " src="/works/carpenter.jpg" alt="Card image" style="height: 100%;">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-ceneter ml-5"
                                style="font-weight: 800; color: rgb(254, 254, 254);font-size: 48px;">
                                <b>WELDER</b>
                            </h5>

                        </div>
                    </div>
                    <p style="color: #ffff;" class="p-3">"Meet our skilled welder: a dedicated professional with a
                        passion for precision and craftsmanship. With years of
                        experience and a steady hand, they expertly fuse metals to create strong, reliable, and
                        aesthetically pleasing welds and
                        roofing. Whether it's structural or decorative, our welder takes pride in every project,
                        ensuring
                        quality and durability
                        with every weld."</p>
                </div>
            </div>
        </div>
        {{!-- ################################################################################### --}}

        <link rel="stylesheet" href="/stylesheets/footer.css">
        <footer style="width: 100%;">
            <div class="footer text-ceneter" style="width: 100%; pl-5">
                <div class=" p-5">
                    <a href="#" class="m-5"><i class="fa fa-facebook" style="font-size: 30px;"></i></a>
                    <a href="#" class="m-5"><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
                    <a href="#" class="m-5"><i class="fa fa-youtube" style="font-size: 30px;"></i></a>
                    <a href="#" class="m-5"><i class="fa fa-twitter" style="font-size: 30px;"></i></a>
                </div>

                <div class="row">
                    <ul>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="/service">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div class=" text-center">
                    <p class="pl-5 text-light">CONSTRUCTIVEEDGE Copyright © 2023 ConstructiveEdge - All rights reserved || Designed
                        By:
                        Vishnu Ravi</p>
                </div>
            </div>
        </footer>
    </div>


</div>
</div>

<style>
    #first {
        background-image: url(/images/ff.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        display: flex;

    }

    .card {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .card-img {
        border-radius: 20px;

    }

    a {
        color: #fcfbfb;
    }
</style>