<div id="ser" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="m-5 p-5"
                style=" border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                <h1 class=""><b><span style="color: #ffff;">Finding</span> <span
                            style="background-color: rgb(57, 55, 55); color: #ffff; border-radius: 12px;"
                            class="p-1">Skilled
                            Workers Near
                            You <br></span> Has Never Been This Easier.</b></h1>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Select Skill</b></label> <br>
                        <select id="cars" name="cars" style="width: 100%; height: 35px;">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><b>Enter Place</b></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="District">
                    </div>

                    <button type="submit" style="width: 100%;" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #ser {
        background-image: url(/first.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>