<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-12 p-5">
            <div id="onoff">
                <form action="/workers/setstatus" method="post" enctype="multipart/form-data">
                    <label for="">Select If Your Ready For Work OR Not</label> <br>
                    <label><input type="radio" name="status" value="true"> I am Available</label><br>
                    <label><input type="radio" name="status" value="false"> I am Not Available </label><br>
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>