<div id="signup" class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <form action="/workers/signup" method="post" enctype="multipart/form-data" id="wksignupform">
                <h1 class="text-center" style="font-weight: 800; color: rgb(38, 38, 37);"><b>Create Your Account</b>
                </h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Name</label>
                    <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Name">

                </div>
                <div class="form-group">
                    <label class="" for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Email">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Phone Number</label>
                    <input name="ph" type="number" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="+91 XXXXXX0490">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"><b>Select Skill</b></label> <br>
                    <select id="cars" name="wrktype" style="width: 100%; height: 35px;">
                        <option value="electrition">Electrician</option>
                        <option value="plumber">Plumber</option>
                        <option value="carpenter">Carpenter</option>
                        <option value="civileng">civil engineer</option>
                        <option value="meson">meson</option>
                        <option value="welder">welder</option>
                        <option value="painter">painter</option>
                        <option value="designer">INTERIAR DESIGNER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="" for="exampleInputPassword1"><b>Choose Your District</b></label>
                    <select id="district" name="district" style="width: 100%; height: 35px; border: 0;">
                        <option value="alappuzha">Alappuzha</option>
                        <option value="ernakulam">Ernakulam</option>
                        <option value="idukki">Idukki</option>
                        <option value="kannur">Kannur</option>
                        <option value="kasaragod">Kasaragod</option>
                        <option value="kollam">Kollam</option>
                        <option value="kottayam">Kottayam</option>
                        <option value="kozhikode">Kozhikode</option>
                        <option value="malappuram">Malappuram</option>
                        <option value="palakkad">Palakkad</option>
                        <option value="pathanamthitta">Pathanamthitta</option>
                        <option value="thiruvananthapuram">Thiruvananthapuram</option>
                        <option value="thrissur">Thrissur</option>
                        <option value="wayanad">Wayanad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="" for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <label class="" for="exampleInputPassword1">Upload Your Photo</label>
                    <input name="image" type="file" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" style="width: 100%; border-radius: 12px;" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>

<style>
    #signup {
        background-image: url();
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>